.header-background {
    /* background-image: url('../assets/images/Background.png'); */
    padding: 30px 15vw 20px 15vw; 
    display: flex;
    position: 'absolute';
    background-size: cover;
    background-color: blue;
  }
  .route.active {
    border-bottom: 5px solid white;
  }
  .routes-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-top: 6vh;
  }

  .logo {
    padding-left: 15px;
  }

.route,
.route:hover,
.route:focus {
  color: black;
  margin: 35px;
  padding-bottom: 3px;
  font-size: 20px;
}